@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

h1 {
    font-family: 'Raleway', sans serif;
    font-size: 1.5em;
    color: white;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #444444;
}

p, ul {
    font-family: 'Raleway', sans serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 125%;
}

ul {
    color: #444444;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

header img {
    float: center;
    width: 35%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px 1px rgb(192, 192, 192);
}

header {
    background-color: #437575;
    text-align: center;
    padding: 8px;
    border-radius: 6px 6px 6px 6px;
    margin-top: 10px;
}

#assigntitle {
    margin-left: 20px;
    padding: 10px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #4444444b;
}

#lessonlist {
    margin-left: 50px;
    padding: 10px;
}

footer a:visited {
    color: white;
}

ul a {
    color: #3D6666;
}

/*    footer    */
footer {
    background-color: #437575;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px 6px 6px 6px;
}

footer a:visited {
    color: white;
}
/*    footer    */