@media only screen and (min-width: 32.5em) {
    
    .content {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    .item {
        padding: 25px;
        width: 100%;
    }

    footer {
        font-size: 16px;
    }


}