@media only screen and (min-width: 64em) {

    header {
        font-size: 3.5em;
    }

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

}