@media only screen and (min-width: 32.5em) {
    
    h2 {
        font-size: 2em;
    }
        
    h3 {
        font-size: 1.5em;
    }

    header {
        padding: 8px;
    }

    body {
        margin: 0 auto;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 1em;
    }
    
}

