@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4B595E;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4B595E;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    color:  #4B595E;
    font-size: 3em;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    color:  #FF3963;
    font-size: 2em;
    margin-bottom: 25px;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    color: #FF3963;
    font-size: 1.5em;
}

#logo {
    width: 125px;
}

/*  index  */

/*  header and topnav  */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#site-title {
    padding: 25px;
}

nav {
    background-color:#8AD0CE;
    padding: 0 15px;
}

.item {
    padding: 25px;
    width: 100%;
    text-align: center;
}

.item:hover {
    background-color: #FFE963;
}

/*  header and topnav  */

.content {
    width: 85%;
    margin: 0 auto;
}

.content p {
    font-family: "Nunito", sans-serif;
}

.towntitlepage {
    text-align: center;
}

.weathersummary {
    background-color: rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 10px;
    border: 1px dashed;
}

.dayforecast {
    background-color: rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 10px;
    border: 1px dashed;
}

.featarticle {
    background-color: rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 10px;
    border: 1px dashed;
}

.informationbar {
    background-color: rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 10px;
    border: 1px dashed;
}


footer {
    background-color:#8AD0CE;
    color: white;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    line-height: 20px;
}