@media only screen and (min-width: 32.5em) {

    nav button {
        display: none;
    }

    nav ul.menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

    .item {
        border: none;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    footer {
        font-size: 16px;
    }

    .item {
        padding: 10px;
        width: auto;
    }

    #site-title {
        padding-left: 25px;
    }

}