@media only screen and (min-width: 32.5em) {

    nav button {
        display: none;
    }

    nav ul.menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

    .item {
        border: none;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    footer {
        font-size: 16px;
    }

    .item {
        padding-top: 20px;
        padding-bottom: 20px;
        width: auto;
    }

    #site-title {
        padding-left: 25px;
    }

    .weathersummary table {
        font-size: 1em;
    }

    .fivedayheading {
        display: block;
        text-align: left;
        padding-left: 20px;
    }

    .fivedayforecast {
        padding: 20px;
    }

    .eachdayforecast {
        font-size: 1em;
    }

    .weathericon {
        width: 5em;
    }

    .featarticle {
        padding: 35px;
        margin-bottom: 10px;
        line-height: 1.5em;
        overflow: auto;
    }
    
    .featarticle h4 {
        padding-bottom: 15px;
        text-align: center;
        font-size: 2em;
    }
    
    #rodeo img {
        width: 25%;
        float: right;
        margin-left: 20px;
    }



    .informationbar {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        font-size: 18px;
        color: #4B595E;
    }

    .contactdetails {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .map {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: 10px;
    }

    #pancakebanner {
        width: 300px;
    }

}